<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Chat</title>
    <link th:href="@{//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{//cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js}"></script>
    <script th:src="@{//cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js}"></script>
    <script th:src="@{//cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row ">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading ">
                    <div class="row ">
                        <button type="button" class="btn btn-link pull-right" style="border:0px;padding:0px"
                                id="logout">
                            Logout
                        </button>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group  col-md-12">
                        <div class="row text-center" id="friends">
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <video id="video" hidden="hidden" autoplay="true"></video>
                        <canvas id="canvas" style="width: 100%;"></canvas>
                        <img id="img" style="width: 100%;"/>
                    </div>
                    <div class="form-group  col-md-12">
                        <textarea rows="3" style="width: 100%;" th:id="text"
                                  placeholder="Input text ..."></textarea>
                    </div>
                    <div class="form-group  col-md-12">
                        <p>
                            <button type="button" class="btn btn-md btn-default" data-status="close" id="open">Open
                                Video
                            </button>
                            <button type="button" id="submit" class="btn btn-md btn-default">Send Text</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Message
                </div>
                <div id="output" class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    var sock = new SockJS("/endpointChat");

    var stomp = Stomp.over(sock);
    stomp.connect('guest', 'guest', function (frame) {
        stomp.subscribe("/user/queue/chat", handleMessage);
        stomp.subscribe("/user/queue/user", handleUser);
    });

    function handleMessage(message) {
        if (message.body.indexOf("data:image/") != 0) {
            $('#output').prepend(message.body);
        }
        else {
            $('#img').attr("src", message.body);
            $('#img').css("width", "100%")
        }
    }

    function handleUser(message) {
        flushUser(message.body)
    }

    $('#submit').click(function (e) {
        var text = $('#text').val();
        if (!text) {
            alert("please input text")
            return
        }
        var user_array = new Array();
        $.each($('input:checkbox:checked'), function () {
            user_array.push($(this).val());
        });

        if (user_array.length == 0) {
            alert("please select friend")
            return;
        }

        stomp.send("/chat." + user_array.toString(), {}, text);
        $('#text').val("")
    });

    $('#logout').click(function (e) {
        $.ajax({
            url: "/logout",
            type: "POST",
            success: function (data) {
                window.location.href = "/login";
            }
        });
    });


    function flushUser(data) {
        var user_array = new Array();
        $.each($('input:checkbox:checked'), function () {
            user_array.push($(this).val());
        });

        $("#friends").empty();
        if (data) {
            var html = "";
            data.split(",").forEach(function (user) {
                /*<![CDATA[*/
                html += "<label class=\"checkbox-inline\">"
                        + "  <input type=\"checkbox\" ";

                if (user_array.indexOf(user) > -1) {
                    html += " checked=\"true\" ";
                }

                html += " value=\"" + user + "\"/>" + user + "</label>";
                /*]]>*/
            })
            $("#friends").append(html);
        }
    }

    function queryAndFlushUser() {
        $.ajax({
            url: "/users",
            type: "GET",
            success: function (data) {
                flushUser(data)
            }
        });
    }

    queryAndFlushUser()

    var canvas = $('#canvas'),
            context = canvas[0].getContext('2d'),
            video = $('#video')[0],
            open = $('#open'),
            mediaStreamTrack,
            interval;


    open.click(function (e) {
        // 打开摄像头
        if (open.data("status") == "close") {
            /*<![CDATA[*/
            var user_array = new Array();
            $.each($('input:checkbox:checked'), function () {
                user_array.push($(this).val());
            });

            if (user_array.length == 0) {
                alert("please select friend")
                return;
            }

            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({
                    video: true,
                    audio: false
                }).then(function (stream) {
                    mediaStreamTrack = typeof stream.stop === 'function' ? stream : stream.getTracks()[0];

                    video.src = (window.URL || window.webkitURL).createObjectURL(stream);

                }).catch(function (err) {
                    alert(err);
                })
            }

            interval = window.setInterval(function () {
                if (video.videoWidth > 0) {
                    canvas[0].height = video.videoHeight / video.videoWidth * canvas[0].width
                    context.drawImage(video, 0, 0, canvas[0].width, canvas[0].height)
                    var data = canvas[0].toDataURL('image/jpeg')
                    stomp.send("/chat." + user_array.toString(), {}, data);
                }
            }, 80);

            open.data("status", "open")
            open.text("Close Video")
            /*]]>*/
        }
        // 关闭摄像头
        else {
            clearInterval(interval);
            mediaStreamTrack.stop();
            open.data("status", "close")
            open.text("Open Video")
        }
    });
</script>
</body>
</html>